# .vscode config files
.vscode/

# general
__pycache__/
data/reddit/__pycache__/

# images
data/reddit/images

# sensative info
token.txt
openaiapi.txt
data/reddit/config.json

# subreddits
data/reddit/subreddits

# sound
data/sounds